.vertical
{
border-left: 2px solid rgb(25, 25, 25);
border-right: 2px solid rgb(25, 25, 25);
}

.horizantel
{
border-top: 2px solid rgb(25, 25, 25);
border-bottom: 2px solid rgb(25, 25, 25);
}

td:hover
{
    border-color:orange;
    background-color: rgb(25, 25, 25);
}

td
{
    width: 100px;
    height: 100px;

}

table
{
    margin:auto;
    
}

body
{
    background:black;
    line-height: 50px;
    font-family: 'Ubuntu', sans-serif;
    
}

h1
{
    color:orange;
    text-align: center;
    border: 1px solid orange;
    width:25%;
    margin:auto;
   
}